/data/raw/images_png/*
!/data/raw/images_png/dataset.sha256

/data/processed/images_png/*
!/data/processed/images_png/.gitkeep

.vscode/

.idea/
*.iml

__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/
env/
ENV/

.ipynb_checkpoints/

*.log
*.tmp
*.swp
*.swo

.DS_Store
Thumbs.db