/data/raw/images_png/*
!/data/raw/images_png/dataset.sha256

/data/processed/images_png/*
!/data/processed/images_png/.gitkeep

/data/segmented/base/*
!/data/segmented/base/.gitkeep
/data/segmented/mask/*
!/data/segmented/mask/.gitkeep

*.pth
*.pt
*.pkl
*.npy
*.bak
*.zip

/models/bbox_trad/*.json
/models/bbox_trad_test/*.json

/src/data/recognition-traditional/output/features/*
!/src/data/recognition-traditional/output/features/.gitkeep
/src/data/recognition-traditional/output/models/*
!/src/data/recognition-traditional/output/models/.gitkeep
/src/data/recognition-traditional/output/reports/*
!/src/data/recognition-traditional/output/reports/.gitkeep

/tmp/

.vscode/

.idea/
*.iml

__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/
env/
ENV/

.ipynb_checkpoints/

*.log
*.tmp
*.swp
*.swo

.DS_Store
Thumbs.db